#local-search-result {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

#sidebar .widget .search-form {
    overflow:visible;
}

#sidebar .widget .search-form input {
    width: auto;
}




/*新增*/
#local-search-result{
    padding: 0 11px 0 28px;
    box-sizing: content-box;
}
p.search-result{
    margin: 0;
}
#sidebar .widget ul{
    margin: 5px 0;
}
#sidebar .widget ul li{
    margin-top: 0px;
    margin-bottom: 15px;
}